In [2]:
import pandas as pd

df=pd.read_csv('./dataset/all_lyrics.tsv', sep = '\t', encoding='utf-8')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781 entries, 0 to 780
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   singer  781 non-null    object
 1   lyrics  781 non-null    object
dtypes: object(2)
memory usage: 12.3+ KB

In [4]:
df_노라조=pd.read_csv('./dataset/노라조_lyrics.tsv', sep = '\t', encoding='utf-8')

In [5]:
df_노라조.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  96 non-null     object
dtypes: object(1)
memory usage: 896.0+ bytes

In [6]:
df_있지=pd.read_csv('./dataset/ITZY_lyrics.tsv', sep = '\t', encoding='utf-8')
df_있지.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  28 non-null     object
dtypes: object(1)
memory usage: 352.0+ bytes

In [7]:
df_아이유=pd.read_csv('./dataset/아이유_lyrics.tsv', sep = '\t', encoding='utf-8')
df_아이유.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  137 non-null    object
dtypes: object(1)
memory usage: 1.2+ KB

In [8]:
df_몬스타엑스=pd.read_csv('./dataset/몬스타엑스_lyrics.tsv', sep = '\t', encoding='utf-8')
df_몬스타엑스.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  134 non-null    object
dtypes: object(1)
memory usage: 1.2+ KB

In [9]:
df_루시드폴=pd.read_csv('./dataset/루시드폴_lyrics.tsv', sep = '\t', encoding='utf-8')
df_루시드폴.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  100 non-null    object
dtypes: object(1)
memory usage: 928.0+ bytes

In [10]:
df_선우정아=pd.read_csv('./dataset/선우정아_lyrics.tsv', sep = '\t', encoding='utf-8')
df_선우정아.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  121 non-null    object
dtypes: object(1)
memory usage: 1.1+ KB

In [11]:
df_안예은=pd.read_csv('./dataset/안예은_lyrics.tsv', sep = '\t', encoding='utf-8')
df_안예은.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  59 non-null     object
dtypes: object(1)
memory usage: 600.0+ bytes

In [12]:
df_빈지노=pd.read_csv('./dataset/Beenzino_lyrics.tsv', sep = '\t', encoding='utf-8')
df_빈지노.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  39 non-null     object
dtypes: object(1)
memory usage: 440.0+ bytes

In [13]:
df_잔나비=pd.read_csv('./dataset/잔나비_lyrics.tsv', sep = '\t', encoding='utf-8')
df_잔나비.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  66 non-null     object
dtypes: object(1)
memory usage: 656.0+ bytes

In [14]:
df_장범준=pd.read_csv('./dataset/장범준_lyrics.tsv', sep = '\t', encoding='utf-8')
df_장범준.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  43 non-null     object
dtypes: object(1)
memory usage: 472.0+ bytes

In [4]:
import pandas as pd
ds = {'Name': pd.Series(['선우정아', '아이유', '몬스타엑스']),
 
      'lyrics_num': pd.Series([121, 137, 134])}
 
# DataFrame 생성
 
df = pd.DataFrame(ds)
 
print(df)

    Name  lyrics_num
0   선우정아         121
1    아이유         137
2  몬스타엑스         134

In [5]:
df.sum()

Name          선우정아아이유몬스타엑스
lyrics_num             392
dtype: object

In [6]:
df.mean()

lyrics_num    130.666667
dtype: float64

In [7]:
df.std(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

In [8]:
df1=df.drop('Name',axis=1)

In [9]:
df1.std()

lyrics_num    8.504901
dtype: float64